<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyw.eshop.cache.mapper.ShopInfoMapper">
    <resultMap id="BaseResultMap" type="com.wyw.eshop.cache.model.ShopInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="good_comment_rate" jdbcType="DOUBLE" property="goodCommentRate"/>
    </resultMap>
</mapper>